<template>
  <div class="m-cards__item">
    <div class="m-cards__top">
      <div class="m-cards__author">
        <div
          class="m-cards__author-avatar"
          :style="{ backgroundImage: `url(${card.owner_avatar})` }"
        />
        <div class="m-cards__author-name" v-text="card.owner_name" />
      </div>
      <!-- .m-cards__author -->

      <div class="m-cards__actions">
        <el-button
          @click="onCopyMurrLink()"
          type="text"
          icon="el-icon-share m-cards__share-icon"
          class="m-cards__share-button"
        />
      </div>
    </div>
    <!-- .m-cards__top -->

    <div
      v-if="card.cover"
      @click="onOpenMurrCard(card.id)"
      class="m-cards__cover"
    >
      <img :src="card.cover" :alt="card.title" class="m-cards__cover-img" />
    </div>
    <!-- .m-cards__cover -->

    <div
      @click="onOpenMurrCard(card.id)"
      v-text="card.title"
      class="m-cards__title"
    />
    <!-- .m-cards__title -->

    <div class="m-cards__footer">
      <div class="m-cards__rating">
        <el-button
          icon="el-icon-arrow-up"
          type="text"
          class="m-cards__rating-like"
          @click="onRatingLike()"
        />

        <el-button
          type="text"
          class="m-cards__rating-counter"
          :class="{
            positive: card.rating > 0,
            negative: card.rating < 0,
          }"
        >
          {{ card.rating }}
        </el-button>

        <el-button
          icon="el-icon-arrow-down"
          type="text"
          class="m-cards__rating-unlike"
          @click="onRatingUnlike()"
        />
      </div>
    </div>
    <!-- .m-cards__footer -->
  </div>
</template>
<script>
import { mapActions } from "vuex";
import MurrCardDetail from "./MurrCardDetail.vue";
import * as type from "./store/type.js";

import { copyToBuffer } from "../../utils/helpres.js";

export default {
  name: "MurrCardItem",

  props: {
    card: {
      type: Object,
      required: true,
    },
    isMurrenAuthorized: {
      type: Boolean,
      required: true,
    },
    targetPage: String,
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
      handlerSignInModal: "changeShowLoginForm_actions",
    }),

    notAuthenticatedRatingNotification() {
      this.notification({
        message: `Залогинься и сможешь оценивать`,
        type: "success",
      });

      this.handlerSignInModal();
    },

    async ratingAction(action) {
      const { success, data } = await this.$store.dispatch(action, {
        murrID: this.card.id,
      });

      if (success) {
        this.card.rating = data.rating;
        if (this.targetPage === "myLikes") {
          this.$store.commit(type.MURR_CARDS_REMOVE, this.card.id);
        }
      }
    },

    async onRatingLike() {
      if (!this.isMurrenAuthorized) {
        this.notAuthenticatedRatingNotification();
        return;
      }

      await this.ratingAction(type.MURR_CARD_LIKED);
    },

    async onRatingUnlike() {
      if (!this.isMurrenAuthorized) {
        this.notAuthenticatedRatingNotification();
        return;
      }

      await this.ratingAction(type.MURR_CARD_UNLIKED);
    },

    onOpenMurrCard(murrID) {
      this.$store.commit("modal/open", {
        transition: "el-zoom-in-top",
        component: {
          render: MurrCardDetail,
          context: { murrID },
        },
      });
    },

    murrCardLink() {
      const protocol = window.location.protocol;
      const host = window.location.host;
      return `${protocol}//${host}/murr_card/${this.card.id}`;
    },

    onCopyMurrLink() {
      const murrCardLink = this.murrCardLink();
      copyToBuffer(murrCardLink);

      this.notification({
        message: `Линка на мурр скопирована 😊`,
        type: "success",
      });
    },
  },
};
</script>
