@import "../../../assets/scss/variables.scss";

.m-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &__item {
    min-width: 320px;
    max-width: 320px;
    border-radius: 3px;
    padding: 1px;
    margin-bottom: 2rem;

    background-color: $dark-accent-primary;
    border: $accent-color-main 1px solid;

    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;

    &:hover {
      box-shadow: -1px -1px 20px 1px $accent-color-main-hover,
        1px 1px 20px 1px $accent-color-main-hover;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 3px;
  }

  // Author information
  &__author {
    display: flex;
    align-items: center;

    &-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &-name {
      flex: 1;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      margin-left: 4px;
      word-break: break-all;
    }
  }

  // Action links
  &__actions {
    margin-left: auto;
  }

  // Share button
  &__share {
    &-icon {
      font-size: 30px;
    }

    &-button {
      padding: 0;
      border-radius: 3px;
      color: $accent-color-primary;
      transition: color 150ms ease-in-out, background-color 200ms ease-in-out,
        transform 200ms ease-in-out;

      &:hover {
        color: $accent-color-primary-hover;
        background-color: rgba($white, 0.1);
      }

      &:active {
        color: $accent-color-primary-hover;
        background-color: rgba($white, 0.2);
        transform: scale(0.9);
      }
    }
  }

  &__cover {
    max-height: 600px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;

    &-img {
      max-width: 100%;
      display: inline-block;
      border-radius: 3px;
    }
  }

  &__title {
    cursor: pointer;
    margin: 2px 8px;
    font-size: 16px;
    font-family: "JetBrainsMono-Regular", monospace;
  }

  &__footer {
    margin: 5px;
  }

  &__rating {
    display: flex;
    align-items: center;

    // rewrites default style
    .el-button + .el-button {
      margin-left: 5px;
    }

    &-like,
    &-unlike,
    &-counter {
      padding: 0;
    }

    &-like,
    &-unlike {
      border-radius: 3px;
      font-size: 30px;
      color: $accent-color-primary;
      transition: color 150ms ease-in-out, background-color 200ms ease-in-out,
        transform 200ms ease-in-out;

      &:hover {
        color: $accent-color-primary-hover;
        background-color: rgba($white, 0.1);
      }

      &:active {
        color: $accent-color-primary-hover;
        background-color: rgba($white, 0.2);
        transform: scale(0.9);
      }
    }

    &-counter {
      font-size: 16px;
      color: $white;

      &.positive,
      &.positive:hover {
        color: $success;
      }

      &.negative,
      &.negative:hover {
        color: $danger;
      }

      &:hover {
        color: $white;
      }
    }
  }
}
